#sidebarContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(167, 167, 167);
  width: 300px;
  height: 700px;
  position: fixed;
  margin-top: 82px;
}
#details {
  display: flex;
  height: 100px;
  justify-content: center;
}
#actionsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#actionsList {
  align-items: center;
}
.actionButtons {
  display: flex;
  padding: 4px;
  margin: 6px;
  font-size: 20px;
  text-align: center;
}
#signOutButton {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: transparent;
  background: rgb(43, 202, 255);
  color: white;
}
.DetailDiv {
  margin: 4px;
}
#profileInfo {
  margin: 30px;
}
#profileIcon {
  display: flex;
  height: 50px;
  width: 50px;

  background: rgb(43, 202, 255);
  color: white;
  font-size: 26px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
}
#userIconandNameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#usernameHolder {
  font-size: 16px;
  margin-left: 20px;
}
