#listedTweet {
  display: inline;
}

#tweetHolder {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 2px 2px;
}
#actionButtons {
  display: flex;
  margin: 15px;
}
.actionButton {
  margin: 5px;
  border: 1px solid rgb(43, 202, 255);
  border-radius: 10px;
  padding: 3px;
  background: rgb(43, 202, 255);
  color: white;
  font-weight: bold;
}
#tweetContent {
  padding-left: 40px;
}
